.thumbnail:hover {
    position:relative;
    top:-5px;
    left: 1px;
    width:345px;
}

.dev-intro-box a:hover {
    color:white;
}

.nav a:hover {
    color:black;
    font-size: 15px;
}
.btn-link:hover {
    color: white;
    background-color: black;
}